<footer class="footer">
  <div class="container">
    <a class="footer__title" href="{{- "/" | relLangURL -}}">{{- .Site.Title -}}</a>

    {{- partial "menu.html" (dict "menuID" "main" "page" .) -}}

    <div class="footer__social-links">
      {{- range $key, $value := .Site.Params.SocialLinks -}}
        <a
          href="{{ $value | relLangURL }}"
          {{- if not (eq $key "rss") -}}rel="noopener noreferrer" target="_blank"{{- end -}}
          title="{{ i18n (printf "social-links.%s" $key) }}"
        >
          {{- $iconPath := printf "static/icons/%s.svg" $key -}}
          {{- $iconContent := readFile $iconPath -}}

          {{- if $iconContent -}}
            {{- $iconContent | safeHTML -}}
          {{- else -}}
            {{- warnf "Icon %s not found" $iconPath -}}
          {{- end -}}
        </a>
      {{- end -}}
    </div>
  </div>
</footer>
