<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "TechArticle",
        "@id": "{{ .page.Permalink }}#article",
        "headline": "{{ .page.Title }}",
        "description": "{{ .description }}",
        "url": "{{ .page.Permalink }}",
        "datePublished": "{{ .page.PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
        "dateModified": "{{ .page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
        "wordCount": {{ .page.WordCount }},
        "timeRequired": "PT{{ .page.ReadingTime }}M",
        "author": {
          "@type": "Organization",
          "@id": "{{ site.BaseURL }}#organization"
        },
        "publisher": {
          "@type": "Organization",
          "@id": "{{ site.BaseURL }}#organization"
        },
        "isPartOf": {
          "@id": "{{ site.BaseURL }}#website"
        }
      },
      {{- if or .page.Parent (not .page.IsHome) -}}
      {
        "@type": "BreadcrumbList",
        "@id": "{{ .page.Permalink }}#breadcrumb",
        "itemListElement": [
          {{- $pages := slice -}}
          {{- $current := .page -}}

          {{- range $i, $e := .page.Ancestors.Reverse -}}
            {{- $pages = $pages | append $e -}}
          {{- end -}}

          {{- $pages = $pages | append $current -}}

          {{- range $i, $page := $pages -}}
            {{- if gt $i 0 }},{{ end -}}

            {
              "@type": "ListItem",
              "position": {{ add $i 1 }},
              "name": "{{ $page.Title }}",
              "item": "{{ $page.Permalink }}"
            }
          {{- end -}}
        ]
      },
      {{- end -}}
      {
        "@type": "WebSite",
        "@id": "{{ site.BaseURL }}#website",
        "url": "{{ site.BaseURL }}",
        "name": "{{ site.Title }}",
        "publisher": {
          "@id": "{{ site.BaseURL }}#organization"
        }
      }
    ]
  }
</script>
