.header {
  inset-block-start: 0;
  position: sticky;
  z-index: 10;
}

.header__inner {
  align-items: center;
  backdrop-filter: blur(1rem);
  background: var(--color-header-bg);
  border-radius: var(--border-radius-full);
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
  margin: var(--spacing-md);
  padding: var(--spacing-md);
}

.header__title {
  align-items: center;
  display: flex;
  gap: var(--spacing-sm);
}

.header__title > img {
  height: 3rem;
}

.header h1 {
  color: var(--color-header-fg);
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 45rem) {
  .header h1 {
    font-size: 1rem;
  }
}

.header ul {
  margin: 0;
  padding: 0;
}

.header ul li {
  list-style: none;
}

.header a {
  color: var(--color-header-fg);
  text-decoration: none;
}
