.skip-link,
.skip-link:visited {
  background: var(--color-bg);
  border-end-end-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-lg);
  color: var(--color-fg);
  padding: var(--spacing-sm);
  position: absolute;
  text-decoration: none;
  transform: translateY(-999%);
  z-index: 9999;
}

.skip-link:focus-visible {
  opacity: 1;
  transform: translateY(0);
}
