:root {
  --color-primary: #0d6488;
  --color-bg: #e4e4e7;
  --color-fg: #18181b;
  --color-header-bg: color-mix(in srgb, var(--color-primary) 80%, transparent);
  --color-header-fg: #fafafa;
  --color-header-border: transparent;
  --color-dropdown-bg: #fff;
  --color-dropdown-fg: #171717;
  --color-content-bg: #fff;
  --color-content-fg: #171717;
  --color-footer-bg: #fafafa;
  --color-footer-fg: #09090b;
  --color-footer-link-fg: #52525c;
  --color-footer-border: transparent;

  --color-link: color-mix(in srgb, var(--color-primary) 95%, #000);
  --color-link-visited: color-mix(in srgb, var(--color-primary) 95%, #000);
  --color-hr: #e2e8f0;
  --color-table-border: #e2e8f0;
  --color-table-header-bg: #f8fafc;
  --color-table-header-fg: #171717;
  --color-table-fg: #171717;
  --color-mark-bg: #e5e7eb;
  --color-mark-fg: #171717;
  --color-success: #32743f;
  --color-error: #e7000b;

  --color-chroma-bg: #f8fafc;
  --color-chroma-fg: #000;
  --color-chroma-border: #e5e7eb;
  --color-chroma-highlight-bg: #e5e7eb;
  --color-chroma-highlight-fg: #3f3f3f;
  --color-chroma-line: #3f3f3f;
  --color-chroma-keyword: #685d1a;
  --color-chroma-type: #99610c;
  --color-chroma-constant: #3f3f3f;
  --color-chroma-variable: #3f3f3f;
  --color-chroma-function: #1d7271;
  --color-chroma-string: #32743f;
  --color-chroma-number: #bd2f2f;
  --color-chroma-comment: #1c7ca1;
  --color-chroma-comment-preprocessor: #1c7ca1;

  --shadow-sm: 0 0 0.25rem 0 #00000014;
  --shadow-md: 0 0 0.5rem 0 #0000001a;
  --shadow-lg: 0 0 1rem 0 #0000001f;
  --drop-shadow-down-lg: 0 1rem 1rem -1rem #0000001f;
  --drop-shadow-up-md: 0 -0.125rem 0.5rem -0.25rem #0000001a;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 2.5rem;

  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-full: 9rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0f8abd;
    --color-bg: #18181b;
    --color-fg: #fff;
    --color-header-bg: color-mix(
      in srgb,
      var(--color-primary) 60%,
      transparent
    );
    --color-header-fg: #fafafa;
    --color-header-border: transparent;
    --color-dropdown-bg: #09090b;
    --color-dropdown-fg: #fafafa;
    --color-content-bg: #27272a;
    --color-content-fg: #fafafa;
    --color-footer-bg: #09090b;
    --color-footer-fg: #fafafa;
    --color-footer-link-fg: #ceced2;
    --color-footer-border: #e5e7eb;

    --color-link: color-mix(in srgb, var(--color-primary) 80%, #fff);
    --color-link-visited: color-mix(in srgb, var(--color-primary) 80%, #fff);
    --color-hr: #262626;
    --color-table-border: #262626;
    --color-table-header-bg: #171717;
    --color-table-header-fg: #f8fafc;
    --color-table-fg: #f8fafc;
    --color-mark-bg: #262626;
    --color-mark-fg: #f8fafc;
    --color-success: #56c16b;
    --color-error: #e7000b;

    --color-chroma-bg: #171717;
    --color-chroma-fg: #f8f8f8;
    --color-chroma-border: #262626;
    --color-chroma-highlight-bg: #262626;
    --color-chroma-highlight-fg: #a3a3a3;
    --color-chroma-line: #a3a3a3;
    --color-chroma-keyword: #f1e161;
    --color-chroma-type: #ffc266;
    --color-chroma-constant: #e0e2ea;
    --color-chroma-variable: #e0e2ea;
    --color-chroma-function: #8cf8f7;
    --color-chroma-string: #b3f6c0;
    --color-chroma-number: #ff8080;
    --color-chroma-comment: #87ceeb;
    --color-chroma-comment-preprocessor: #87ceeb;
  }
}
